{#
/**
 * @file
 * Default theme implementation for a tickets update message mail.
 *
 * Available variables:
 * - content: The ticket entity with all its fields and attributes
 *   as full view mode.
 *    @see rendering NodeInterface with twig.
 * - url: the content url.
 * - state: The workflow status of the ticket.
 * - owner_name: The user that has reported the ticket.
 * - owner_id: The id of the user that has reported the ticket.
 * - transition:
 *     - comment: the comment that fixer has write, if any.
 *     - from_sid: the previous state.
 *     - to_sid: the current state.
 * - panel_url: The url to tickets panel.
 *
 * @see template_preprocess_tickets_update()
 *
 * @ingroup themeable
 */
#}
<p>
{{ 'Hello @owner_name'|t({'@owner_name': owner_name }) }},<br/>
{{ 'The ticket'|t() }} <strong>{{ url }} - {{ content.title }}</strong> {{ 'has been updated and now the state is'|t() }} <strong>{{ transition.to_sid }}</strong>.
<p>
  {{ 'Issue status transition'|t() }}:
<br/>
{{ transition.from_sid }} >> {{ transition.to_sid }}
</p>
{% if transition.comment %}
  <p>
    {{ 'Issue status transition message'|t() }}:<br/>
    <em>
      {{ transition.comment }}
    </em>
  </p>
{% endif %}
</p>
<p>
{{ 'You can see all your pending issues in @panel_url'|t({ '@panel_url' : panel_url }) }}.
</p>
