{#
/**
 * @file
 * Default theme implementation for a tickets update message mail.
 *
 * Available variables:
 * - content: The ticket entity with all its fields and attributes
 *   as full view mode.
 *    @see rendering NodeInterface with twig.
 * - url: the content url.
 * - owner_name: The user that has reported the ticket.
 * - owner_id: The id of the user that has reported the ticket.
 * - panel_url: The url to tickets panel.
 * - admin_panel_url: The admin tickets panel url.
 * - maintainer: flag to assert user is a maintainer.
 *
 * @see template_preprocess_tickets_update()
 *
 * @ingroup themeable
 */
#}
<p>
{{ 'Hello @owner_name'|t({'@owner_name': owner_name }) }},<br/>
{{ 'The ticket'|t() }} <strong>{{ url }} - {{ content.title }}</strong> {{ 'has a new comment.'|t() }}
</p>
<p>
{% if maintainer %}
  {{ 'If you are the maintainer, you can view all the issues in @admin_panel_url'|t({'@admin_panel_url': admin_panel_url }) }}.
{% else %}
  {{ 'You can see all your pending issues in @panel_url'|t({ '@panel_url' : panel_url }) }}.
{% endif %}
</p>

