{#
/**
 * @file
 * Default theme implementation for a tickets update message mail.
 *
 * Available variables:
 * - content: The ticket entity with all its fields and attributes
 *   as full view mode.
 *    @see rendering NodeInterface with twig.
 * - url: the content url.
 * - owner_name: The user that has reported the ticket.
 * - owner_id: The id of the user that has reported the ticket.
 * - admin_panel_url: The url to admin tickets panel.
 *
 * @see template_preprocess_tickets_create()
 *
 * @ingroup themeable
 */
#}
<p>
{{ 'Hello'|t() }},
{{ 'The user @owner_name, has created the ticket:'|t({'@owner_name': owner_name}) }} <strong>{{ url }} - {{ content.title }}</strong>.
</p>
<p>
{{ 'As maintainer, you can view all the issues in @admin_panel_url'|t({'@admin_panel_url': admin_panel_url }) }}.
</p>

